/* @override http://localhost:4567/stylesheets/main.css */

body {
	margin: 0px;	
		background-image: url(../images/background_wood.jpg);
}



h1.logo {

font-family: "bello-pro",sans-serif;
font-style: normal;
font-weight: 400;
text-align: center;
font-size: 100px;
margin: 0px;
margin-top: 20px;
	color: #fff;
text-shadow: 0px -2px 3px black;


}

div.wrapper {
	width: 980px;
	margin: 0px auto;	
}

div.code_editor {
	width: 500px;
	float: left;
}

div.results {
	float: left;
	width: 440px;
	height: 400px;
	color: #809496;
}

div#error_message {
	background-color: #991609;
	background-image: linear-gradient(bottom, rgb(133,21,10) 28%, rgb(153,21,9) 58%);
background-image: -o-linear-gradient(bottom, rgb(133,21,10) 28%, rgb(153,21,9) 58%);
background-image: -moz-linear-gradient(bottom, rgb(133,21,10) 28%, rgb(153,21,9) 58%);
background-image: -webkit-linear-gradient(bottom, rgb(133,21,10) 28%, rgb(153,21,9) 58%);
background-image: -ms-linear-gradient(bottom, rgb(133,21,10) 28%, rgb(153,21,9) 58%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.28, rgb(133,21,10)),
	color-stop(0.58, rgb(153,21,9))
);
	color: #fffeff;
	position: absolute;
	width: 480px;
	border-bottom: 1px solid #a5100a;

}

#content strong {
	font-size: 28px;	
	line-height: 1em;
	color: white;
}

div#error_message #content {
	margin: 20px;
	font-size: 18px;
		color: #ffd7a3;
}

.results div {
	font-family: "anonymous-pro",sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
}

.results #result_holder {
	padding: 10px;
	background: #002832;
	height: 380px;
      -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
}


#editor {
      position: relative;
      height: 400px;
      -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
  }


.link-button {
	margin-top: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #636363;
	-webkit-box-shadow:inset 0px 1px 0px 0px #636363;
	box-shadow:inset 0px 1px 0px 0px #636363;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3b3b3b), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #3b3b3b 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3b', endColorstr='#000000');
	background-color:#3b3b3b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3b3b3b;
	display:inline-block;
	color:#fafafa;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size:12px;
	margin-left: -2px;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
		text-shadow: 0px -1px 2px #626262;
}


.link-button:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #141414) );
	background:-moz-linear-gradient( center top, #000000 5%, #141414 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#141414');
	background-color:#000000;
}.link-button:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.loader {
	width: 16px;
	height: 10px;
	float: right;
	display: none;
	background: url(../images/loader.gif) no-repeat;
		margin-right: 10px;

}

.code_editor .loader {
	margin-top: 10px;

}

div.column {
	width: 480px;
	margin-right: 10px;
}

.column h2 {
	margin: 0px;
	height: 22px;
	color: #626262;
	color:white;
	padding-top: 13px;
	padding-left: 30px;
	font: 12px "anonymous-pro",sans-serif;
	background: url(../images/tab.png) no-repeat;
	text-shadow: 0px -1px 2px #626262;
}

.end_column {
	height: 6px;
	background: url(../images/footer.png) repeat-x;
}

footer {
	clear: both;
	text-align: center;
	color: #fffeff;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		text-shadow: 0px -1px 2px #626262;
}

footer a {
	color: #f7f172;
}